fastapi
uvicorn[standard]
python-multipart
pytesseract
pdfplumber
Pillow
scikit-learn
joblib
python-magic
pandas
pdf2image

sentence-transformers
transformers>=4.38
torch

PyMuPDF
python-docx
odfpy
pymongo
python-dotenv
